
//toolbar
@font-face {
  font-family: "toolbar";
  src: url("../../assets/fonts/toolbar/iconfont.eot"); /* IE9*/
  src: url("../../assets/fonts/toolbar/iconfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../../assets/fonts/toolbar/iconfont.woff") format("woff"), /* chrome、firefox */
  url("../../assets/fonts/toolbar/iconfont.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../../assets/fonts/toolbar/iconfont.svg#iconfont") format("svg"); /* iOS 4.1- */
}

//导航类
@font-face {
  font-family: "nav";
  src: url("../../assets/fonts/nav/iconfont.eot"); /* IE9*/
  src: url("../../assets/fonts/nav/iconfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../../assets/fonts/nav/iconfont.woff") format("woff"), /* chrome、firefox */
  url("../../assets/fonts/nav/iconfont.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../../assets/fonts/nav/iconfont.svg#iconfont") format("svg"); /* iOS 4.1- */
}

//操作类图标 - 导出
@font-face {
  font-family: "handle";
  src: url("../../assets/fonts/handle/iconfont.eot"); /* IE9*/
  src: url("../../assets/fonts/handle/iconfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../../assets/fonts/handle/iconfont.woff") format("woff"), /* chrome、firefox */
  url("../../assets/fonts/handle/iconfont.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../../assets/fonts/handle/iconfont.svg#iconfont") format("svg"); /* iOS 4.1- */
}

//登录类
@font-face {
  font-family: "login";
  src: url("../../assets/fonts/login/iconfont.eot"); /* IE9*/
  src: url("../../assets/fonts/login/iconfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../../assets/fonts/login/iconfont.woff") format("woff"), /* chrome、firefox */
  url("../../assets/fonts/login/iconfont.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../../assets/fonts/login/iconfont.svg#iconfont") format("svg"); /* iOS 4.1- */
}
//开发者
@font-face {
  font-family: "dev";
  src: url("../../assets/fonts/dev/iconfont.eot"); /* IE9*/
  src: url("../../assets/fonts/dev/iconfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../../assets/fonts/dev/iconfont.woff") format("woff"), /* chrome、firefox */
  url("../../assets/fonts/dev/iconfont.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../../assets/fonts/dev/iconfont.svg#iconfont") format("svg"); /* iOS 4.1- */
}

.icontoolbar {
  font-family: "toolbar";
  font-size: 16px;
  font-style: normal;
}

.iconnav {
  font-family: "nav";
  font-size: 16px;
  font-style: normal;
}

.iconhandle {
  font-family: "handle";
  font-size: 16px;
  font-style: normal;
}

.iconlogin {
  font-family: "login";
  font-size: 16px;
  font-style: normal;
}
.icondev {
  font-family: "dev";
  font-size: 16px;
  font-style: normal;
}

.ft12 {
  font-size: 12px !important;
}

.ft14 {
  font-size: 14px !important;
}

.ft16 {
  font-size: 16px !important;
}

.ft18 {
  font-size: 18px !important;
}

.fw-b {
  font-weight: bold !important;
}

.fw-n {
  font-weight: normal !important;
}

.ft-desc{
  color: @font-desc-color;
}
